<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="Control Bovinos"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">

        <!-- Pages Index and Inicio/><!-->
        <activity
            android:name=".Pages.Inicio"
            android:exported="false"
            android:label=""
            android:screenOrientation="fullUser"/>

        <activity
            android:name=".Pages.IndexPage"
            android:label=""
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Pages Reproduccion ><!-->

        <activity
            android:name=".Pages.Reproduccion_Sincronizacion"
            android:label=""
            android:exported="false">
        </activity>
        <activity
            android:name=".Pages.Reproduccion_Inicio"
            android:label=""
            android:exported="false"/>
        <activity
            android:name=".Pages.Reproduccion_Parto"
            android:label=""
            android:exported="false"/>

        <!-- Pages Nutricion ><!-->

        <activity
            android:name=".Pages.Nutricion"
            android:label=""
            android:exported="false"/>
        <activity
            android:name=".Pages.Nutricion_Vitaminas"
            android:label=""
            android:exported="false"/>
        <activity
            android:name=".Pages.Nutricion_Hidrosolubles"
            android:label=""
            android:exported="false"/>
        <activity
            android:name=".Pages.Nutricion_Liposolubles"
            android:label=""
            android:exported="false"/>
        <activity
            android:name=".Pages.Nutricion_Minerales"
            android:label=""
            android:exported="false"/>
        <activity
            android:name=".Pages.Nutricion_Minerales_Section"
            android:label=""
            android:exported="false"/>
        <activity
            android:name=".Pages.Calculo_Nutrientes"
            android:label=""
            android:exported="false">
        </activity>

        <!-- Pages Manejo ><!-->

        <activity
            android:name=".Pages.Section_Forraje"
            android:label=""
            android:exported="false"/>
        <activity
            android:name=".Pages.RendimientoCalculo"
            android:label=""
            android:exported="false"/>
        <activity
            android:name=".Pages.PesoCalculo"
            android:label=""
            android:exported="false" />
        <activity
            android:name=".Pages.Manejo"
            android:label=""
            android:exported="false" />
        <activity
            android:name=".Pages.Manejo_Info"
            android:label=""
            android:exported="false"/>

        <!-- Pages Farmacologia ><!-->

        <activity
            android:name=".Pages.Farmacologia"
            android:label=""
            android:exported="false" >
        </activity>
        <activity
            android:name=".Pages.Farmacologia_Inicio"
            android:label=""
            android:exported="false"/>

        <!-- Mensajes Emergentes Vitaminas/><!-->

        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_Valor"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaA"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaD"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaE"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaK"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaB1"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaB2"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaB6"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaB7"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaB8"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaB10"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaB12"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Vitaminas.PopUp_VitaminaC"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>

        <!-- Mensajes Emergentes Minerales/><!-->
        
        <activity
            android:name=".Pages.PopUp_Minerales.PopUp_Cobalto"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Minerales.PopUp_Fosforo"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Minerales.PopUp_Hierro"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Minerales.PopUp_Magnesio"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Minerales.PopUp_Potasio"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Minerales.PopUp_Selenio"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Minerales.PopUp_Sodio"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Minerales.PopUp_Yodo"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Minerales.PopUp_Zinc"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_Minerales.PopUp_Calcio"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>

        <!-- Mensajes Emergentes Farmacologia/><!-->
        <activity
            android:name=".Pages.PopUp_Farmacologia.PopUp_Farmacologia"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>

        <!-- Mensajes Emergentes Manejo/><!-->
        <activity
            android:name=".Pages.PopUp_InfoManejo.PopUp_Bienestar"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_InfoManejo.PopUp_Canal"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_InfoManejo.PopUp_Comportamiento"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_InfoManejo.PopUp_Manejo"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_InfoManejo.PopUp_Ordeno"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>
        <activity
            android:name=".Pages.PopUp_InfoManejo.PopUp_Pastoreo"
            android:label=""
            android:theme="@style/Theme.App.PopUp"/>

    </application>

</manifest>